body {
    font-family: 'Courier New', monospace;
    font-size: 15px;
    background: #0098db;
}

.colors {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.square .color-btn {
    height: 200px;
    width: 200px;
    border: 3px solid #7c0000;
}
